/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* General styles */
body {
  background-color: #2a2a2a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: whitesmoke;
  margin: 2px;
}

.hidden-heading {
  display: none;
}

/* Header */
header {
  background-color: #2a2a2a;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: whitesmoke;
}

/* Navbar */
.text { color: whitesmoke !important; }
.navbar { border-bottom: 3px solid gold; }
#battleroster-logo { width: 300px; max-width: 300px; height: auto; }

/* Show nav on toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#menu {
  font-size: 1.2rem;
  letter-spacing: 4px;
  list-style-type: none;
  color: whitesmoke;
  padding: 0 1rem;
  margin: 0;
}

.nav-toggle-label {
  font-size: 6rem;
  color: whitesmoke;
  cursor: pointer;
}

#menu > li {
  margin-bottom: 0.5em;
}

/* Footer */
#social-networks {
  background-color: #1a1a1a;
  z-index: 4;
  align-items: center;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: whitesmoke;
}